@model IEnumerable<PeopleSearch.Models.Person>

@{
    ViewBag.Title = "Home";
}

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "searchResults"
    }))
{
    <div class="col-md-8 col-md-offset-2">
        <div class="form-inline" style="padding-bottom: 30px">
            <h3>&nbsp;</h3>
            <input type="text" class="form-control" id="searchName" placeholder="Search by Name"/>
            <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
        </div>
    </div>
}

<div id="searchResults" class="col-md-8 col-md-offset-2">

</div>

@section scripts
    {
        <script type="text/javascript">
            $('#searchBtn').click(function () {
                var term = $('#searchName').val();
                var url = "People/Search/" + term;
                $.get(url, function (data) {
                    $('#searchResults').html(data);
                });
            });
        </script>
    }
